@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;
  color: white;
  background: #040717; /* Darker colors for the gradient */
}
.home-bg {
  background: black; /* Darker colors for the gradient */
}

.home-hero {
  background-image: url("../../public/hero-bg-3.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.WhyStakeWithUs {
  background-image: url("../../public/Stake.png");
  background-position: center; /* Start image from the bottom center */
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0; /* Remove margin if not needed */
}
.WhatWeOffer {
  background-image: url("../../public/WhatWeOffer-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Distribution {
  background-image: url("../../public/Distribution.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.raffles {
  background-image: url("../../public/Glow.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.wallet-not-connected {
  background-image: url("../../public/wallet-not-connected.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.fade-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 500ms, transform 500ms;
}
